<div class="row single-column">
  <div class="columns">
    
    <div class="page-content">
    	{% if settings.pages-breadcrumb-show %}
      	{% include 'snippet-breadcrumbs' %}
      {% endif %}
      <h1 class="page-title">OUTERWEAR{%comment%}{{ page.title }}{%endcomment%}</h1>
      <div class="rte-content colored-links">
	      {{ page.content }}
	    </div>
    </div>
  </div>
</div>

  {%comment%} include 'snippet-collections-caps' {%endcomment%}
  {% include 'snippet-collections-outerwear-page' %}
