<div id="lookbook" class="main-wrapper">
  

  <!-- FULL WIDTH 1-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook1_acbc5ae4-1a8c-4dd7-8663-f54738dc8c49.jpg?10874170462563898435" alt="">
    
{% comment %}    <div class="product-related"  style="top: 27%;left: 56%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>mercure - grey marble</p>

        <a href="http://www.allineyewear.com/products/mercure-grey-marble-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- HALF WIDTH 2 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-8.jpeg?18114956783516145807" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-9.jpeg?18114956783516145807" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- FULL WIDTH 3-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-10.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 21%;left: 63%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>mercure - white marble</p>

        <a href="http://www.allineyewear.com/products/mercure-white-marble-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 4-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-11.jpeg?18114956783516145807" alt="">

  </div>

  <!-- FULL WIDTH 5-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-12.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 19%;left: 57%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>york - tortoise</p>

        <a href="http://www.allineyewear.com/products/york-tortoise-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 6-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-13.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 38%;left: 70%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>voltaire - grey marble</p>

        <a href="http://www.allineyewear.com/products/voltaire-grey-marble-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- HALF WIDTH 7-->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-14.jpeg?18114956783516145807" alt="">

{% comment %}      <div class="product-related" style="top: 22%;left: 65%;">
      
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>clark - green marble</p>

          <a href="http://www.allineyewear.com/products/clark-green-marble-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

{% comment %}      <div class="product-related" style="top: 10%;left: 41%;">
      
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>cap - white / black</p>

          <a href="http://www.allineyewear.com/products/caps-white-black-logo" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-15.jpeg?18114956783516145807" alt="">
      
    </div>

  </div>

  <!-- FULL WIDTH 8-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook8.jpg?17358081804695739451" alt="">
    
{% comment %}    <div class="product-related"  style="top: 50%;left: 56%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>clark - green marble</p>

        <a href="http://www.allineyewear.com/products/clark-green-marble-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 9-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-17.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 23%;left: 62%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>voltaire - tortoise</p>

        <a href="http://www.allineyewear.com/products/voltaire-tortoise-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

{% comment %}    <div class="product-related"  style="top: 28%;left: 37%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;left: -222px;position: absolute;">
        
        <p>cap - white / white</p>

        <a href="http://www.allineyewear.com/products/caps-white-white-logo" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 10-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-1.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 28%;left: 66%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>voltaire - tortoise</p>

        <a href="http://www.allineyewear.com/products/voltaire-tortoise-polarized" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>
  
  <!-- FULL WIDTH 11-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-2.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 32%;left: 61%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>voltaire - grey marble</p>

        <a href="http://www.allineyewear.com/products/voltaire-grey-marble-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

{% comment %}    <div class="product-related"  style="top: 38%;left: 37%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;left: -222px;position: absolute;">
        
        <p>cap - white / white</p>

        <a href="http://www.allineyewear.com/products/caps-white-white-logo" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 12-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-3.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 60%;left: 73%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>clark - tortoise</p>

        <a href="http://www.allineyewear.com/products/clark-tortoise-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 13-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-4.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 36%;left: 68%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>clark - tortoise</p>

        <a href="http://www.allineyewear.com/products/clark-tortoise-polarized" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 14-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-5.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 28%;left: 54%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>mercure - white marble</p>

        <a href="http://www.allineyewear.com/products/mercure-white-marble-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 15-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-6.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 55%;left: 73%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>mercure - white marble</p>

        <a href="http://www.allineyewear.com/products/mercure-white-marble-polarized" class="black-btn">view this product</a>

      </div>  

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 17-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-7.jpeg?18114956783516145807" alt="">
    
{% comment %}    <div class="product-related"  style="top: 37%;left: 75%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>dunk - dark grey</p>

        <a href="http://www.allineyewear.com/products/dunk-dark-grey-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

</div>

<div id="remerciement" class="main-wrapper text-centered">
  
  <strong>PHOTO/EDITING - ALEX COMA</strong><br>
  <strong>ARTISTIC DIRECTOR/STYLIST - PIERRE-OLIVIER GIRARDOT</strong><br> 
  <strong>STYLIST - ALEX AXENOVA</strong><br>
  <strong>MAKE UP - PATRICIA LAPOINTE</strong><br>
  <strong>ASSISTANT - JEAN-P LAUZON</strong><br> 
  <strong>MODEL - ÉMILE WOON (FOLIO)</strong><br>
  <strong>MODEL - AMAR GHALY</strong><br>
  <strong>MODEL - ARIADNA CONTRERAS</strong><br>

</div>

<div class="normal-frame text-centered">

  <a class="big-button" href="http://www.allineyewear.com/" style="margin-bottom: 10px;">
    <span>home</span>
  </a>

  <a class="big-button" href="http://www.allineyewear.com/collections/">
    <span>shop</span>
  </a>
  
</div>

<script>
$(document).ready(function() 
{

  $('.countdown').countdown('05/13/2015 12:00:00', function(event) {
     $(this).html(event.strftime('%D:%H:%M:%S'));
  });

  $(".product-related span").click(function(){
  	$(this).next().toggleClass('active');
  });

  $("#menu-to-stick").sticky({topSpacing:0});

});
</script>