<div class="large-frame">
  
  <h1 class="text-centered">lookbook</h1>

  <div class="half-wrapper">

  	<h2 class="center">men</h2>

  </div>

  <div class="half-wrapper">
  	
  	<h2 class="center">women</h2>

  </div>

  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <a href="http://www.allineyewear.com/pages/lookbook-summer-2016-men">
        
        <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/men_lookbook_allin.jpg?9822481275990018088" alt="">

      </a>

    </div>

    <div class="half-wrapper">

      <a href="http://www.allineyewear.com/pages/lookbook-summer-2016-women">
      
        <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/women_lookbook_allin.jpg?9822481275990018088" alt="">
      
      </a>

    </div>

  </div>
	
	<div class="full-wrapper">
		
		<p class="center">
			<a href="http://www.allineyewear.com/pages/lookbook-summer-2015">archive<br>spring-summer 2015</a>
		</p>

	</div>



{% comment %}  <div id="shop-container" class="main-wrapper">

  	<a class="white-border-block-lookbook full-wrapper center" href="http://www.allineyewear.com/pages/lookbook-summer-2015">lookbook SS16</a>
    
    <a class="white-border-block-lookbook half-wrapper" href="http://www.allineyewear.com/pages/lookbook-summer-2015">lookbook SS15</a>

    <a class="white-border-block-lookbook half-wrapper" href="http://www.allineyewear.com/pages/lookbook-fall-2015">lookbook F15</a>

  </div>{% endcomment %}

</div>