<div id="lookbook" class="main-wrapper">
  

  <!-- FULL WIDTH 1-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-1.jpg?16892960684171950144" alt="">
    
    <div class="product-related"  style="top: 45%;left: 57%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>cap - yellow</p>
        
        <p>$45.00 CAD</p>

        <a href="http://www.allineyewear.com/products/caps-yellow" class="black-btn">view this product</a>

      </div>

    </div>

  </div>
  
  <!-- FULL WIDTH 2-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-2_e36a0d28-05cd-4308-9bd5-1dfb2f7b0dd8.jpg?14879683503938019874" alt="">
    
    <div class="product-related"  style="top: 28%;left: 29%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;left: -222px;">
        
        <p>mercure - purple marble</p>
        
        <p>$170.00 CAD</p>

        <a href="http://www.allineyewear.com/products/mercure-purple-marble-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>

  </div>
  
  <!-- FULL WIDTH 3-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-3.jpg?16892960684171950144" alt="">

  </div>
  
  <!-- HALF WIDTH 4 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-4.jpg?16892960684171950144" alt="">
      
      <div class="product-related"  style="top: 37%;left: 66%;">
        
        <span class="black-plus">+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>mercure - dark grey</p>
          
          <p>$170.00 CAD</p>

          <a href="http://www.allineyewear.com/products/mercure-dark-grey-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-5.jpg?16892960684171950144" alt="">
      
    </div>

  </div>
  
   <!-- FULL WIDTH 5-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-6_ef3f015d-8226-4958-a8f3-a06f961dfa8a.jpg?14879683503938019874" alt="">
    
    <div class="product-related"  style="top: 17%;left: 63%;">
      
      <span class="black-plus">+</span>

      <div class="product-link" style="display:none;">
        
        <p>voltaire - grey marble - optic</p>
        
        <p>$160.00 CAD</p>

        <a href="http://www.allineyewear.com/products/voltaire-grey-marble-optic" class="black-btn">view this product</a>

      </div>

    </div>

  </div>
  
   <!-- FULL WIDTH 6-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-7.jpg?16892960684171950144" alt="">
    
    <div class="product-related"  style="top: 35%;left: 43%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;left: -222px;">
        
        <p>voltaire - black - optic</p>
        
        <p>$160.00 CAD</p>

        <a href="http://www.allineyewear.com/products/voltaire-black-optic" class="black-btn">view this product</a>

      </div>

    </div>

  </div>
  
  
   <!-- FULL WIDTH 7-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-8.jpg?16892960684171950144" alt="">
    
    <div class="product-related"  style="top: 15%;left: 59%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;left: -222px;">
        
        <p>voltaire - black - sun lens</p>
        
        <p>$160.00 CAD</p>

        <a href="http://www.allineyewear.com/products/voltaire-black-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>

  </div>
  
   <!-- FULL WIDTH 8-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-9.jpg?16892960684171950144" alt="">
    
    <div class="product-related"  style="top: 32%;left: 62%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>mercure - dark grey - polarized</p>
        
        <p>$240.00 CAD</p>

        <a href="http://www.allineyewear.com/products/mercure-dark-grey-polarized" class="black-btn">view this product</a>

      </div>

    </div>

  </div>
  
   <!-- FULL WIDTH 9-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/lookbook-10.jpg?16892960684171950144" alt="">
    
    <div class="product-related"  style="top: 23%;left: 57%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>york - clear</p>
        
        <p>$150.00 CAD</p>

        <a href="http://www.allineyewear.com/products/york-clear-optic" class="black-btn">view this product</a>

      </div>

    </div>

  </div>


</div>

<div id="remerciement" class="main-wrapper text-centered">
  
  <strong>PHOTO - ALEX COMA</strong><br>
  <strong>ARTISTIC DIRECTOR - PIERRE-OLIVIER GIRARDOT</strong><br> 
  <strong>MODEL - RETRO</strong><br>
  <strong>MODEL - CONSTANCE</strong><br>

</div>

<div class="normal-frame text-centered">
<a class="big-button" href="http://www.allineyewear.com/" style="
    margin-bottom: 10px;
">
  <span>home</span>

</a>
<a class="big-button" href="http://www.allineyewear.com/collections/">
  <span>shop</span>
</a>
</div>

<script>
$(document).ready(function() 
{

  $('.countdown').countdown('05/13/2015 12:00:00', function(event) {
     $(this).html(event.strftime('%D:%H:%M:%S'));
  });

// $(".menu-btn").click(function(){
// 	$("#menu-wrapper").toggleClass("active");
//   $("#menu-to-stick").toggleClass("active");
// });

$(".product-related span").click(function(){
	$(this).next().toggleClass('active');
});

$("#menu-to-stick").sticky({topSpacing:0});



});
</script>