<div id="lookbook" class="main-wrapper">

  <!-- HALF WIDTH 1 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/1_d95bf15c-f861-4147-be08-98cc1789cbe7.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/2_423c67d4-2366-4db4-a70c-214aeca343d3.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- HALF WIDTH 2 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/3_c1f7d999-f03f-478f-8e2b-d00b55259931.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/4_d96409f3-f8c7-407e-97c4-fef1e5d0287e.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- HALF WIDTH 3 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/5_72c2a433-7228-443a-943b-ad47165bcec5.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/6_fda6a3d3-c5d9-4c2d-b222-a9652cd4db54.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- HALF WIDTH 4 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/7_def1321c-6cc2-42a7-82c5-54953abee2a8.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/8_d3edbf91-b400-4198-b51d-2c188db855dd.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- HALF WIDTH 5 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/9.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/10.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- HALF WIDTH 5 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/11_990c5a25-c00c-40f9-9e3a-cd11cf324768.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/12.jpg?15784312139869487812" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- HALF WIDTH 6 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/13.jpg?17759021647570212475" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/14.jpg?17759021647570212475" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- FULL WIDTH 6 -->
  <div class="lookbook-img-wrapper">
    
    <div class="full-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/15.jpg?13930550794088344490" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

  </div>  

</div>

{% comment %}<div id="remerciement" class="main-wrapper text-centered">
  
  <strong>PHOTO/EDITING - ALEX COMA</strong><br>
  <strong>ARTISTIC DIRECTOR/STYLIST - PIERRE-OLIVIER GIRARDOT</strong><br> 
  <strong>STYLIST - ALEX AXENOVA</strong><br>
  <strong>MAKE UP - PATRICIA LAPOINTE</strong><br>
  <strong>ASSISTANT - JEAN-P LAUZON</strong><br> 
  <strong>MODEL - ÉMILE WOON (FOLIO)</strong><br>
  <strong>MODEL - AMAR GHALY</strong><br>
  <strong>MODEL - ARIADNA CONTRERAS</strong><br>

</div>{% endcomment %}

<div class="normal-frame text-centered">

  <a class="white-btn-link" href="http://www.allineyewear.com/" style="margin-bottom: 10px;">
    <span>home</span>
  </a>

  <a class="white-btn-link" href="http://www.allineyewear.com/collections/">
    <span>shop</span>
  </a>
  
</div>

<script>
$(document).ready(function() 
{

  $("#menu-to-stick").sticky({topSpacing:0});

});
</script>