<div id="lookbook" class="main-wrapper">

  <!-- HALF WIDTH 1 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/1_53327033-080e-4aa2-83a7-5fd3fbc7dc20.jpg?3363203199507906405" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/2_f671900c-6005-4f9f-8862-f7982bd57b6c.jpg?3363203199507906405" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- HALF WIDTH 2 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/3_e695f34c-b337-456c-8ff2-16cec60cd798.jpg?3363203199507906405" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/4_9cf0b1cf-f3cb-4856-a902-d187b8cc0472.jpg?3363203199507906405" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

  <!-- HALF WIDTH 3 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/5_26d0954b-ae73-402a-a43b-b0083b3fbe7f.jpg?3363203199507906405" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/6_0469d4f3-dae5-4943-9445-dd23bfa02a0d.jpg?3363203199507906405" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>
  
  <!-- FULL WIDTH 4-->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/7_d7fe1f08-8033-4949-9af8-8d6b11e5294f.jpg?6542736444157409988" alt="">
    
{% comment %}    <div class="product-related"  style="top: 27%;left: 56%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>mercure - grey marble</p>

        <a href="http://www.allineyewear.com/products/mercure-grey-marble-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- FULL WIDTH 5 -->
  <div class="lookbook-img-wrapper">
    
    <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/8_b7fb54fc-c19b-47f7-a6fc-ab0d5237eb65.jpg?11239785843865091552" alt="">
    
{% comment %}    <div class="product-related"  style="top: 27%;left: 56%;">
      
      <span>+</span>

      <div class="product-link" style="display:none;">
        
        <p>mercure - grey marble</p>

        <a href="http://www.allineyewear.com/products/mercure-grey-marble-sun-lens" class="black-btn">view this product</a>

      </div>

    </div>{% endcomment %}

  </div>

  <!-- HALF WIDTH 6 -->
  <div class="lookbook-img-wrapper">
    
    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/9_db1e6f83-4967-43fa-b025-fb381ee875c1.jpg?11239785843865091552" alt="">
      
{% comment %}      <div class="product-related"  style="top: 21%;left: 66%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;left: -222px;position: absolute;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-black-sun-lens" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}

    </div>

    <div class="half-wrapper">
      
      <img src="https://cdn.shopify.com/s/files/1/0525/3729/files/10_f10afc05-6039-4ac8-b4eb-46402ac09a74.jpg?11239785843865091552" alt="">
      
{% comment %}      <div class="product-related"  style="top: 16%;left: 51%;">
        
        <span>+</span>

        <div class="product-link" style="display:none;">
          
          <p>dunk - black</p>

          <a href="http://www.allineyewear.com/products/dunk-III-black-polarized" class="black-btn">view this product</a>

        </div>

      </div>{% endcomment %}
      
    </div>

  </div>

</div>

{% comment %}<div id="remerciement" class="main-wrapper text-centered">
  
  <strong>PHOTO/EDITING - ALEX COMA</strong><br>
  <strong>ARTISTIC DIRECTOR/STYLIST - PIERRE-OLIVIER GIRARDOT</strong><br> 
  <strong>STYLIST - ALEX AXENOVA</strong><br>
  <strong>MAKE UP - PATRICIA LAPOINTE</strong><br>
  <strong>ASSISTANT - JEAN-P LAUZON</strong><br> 
  <strong>MODEL - ÉMILE WOON (FOLIO)</strong><br>
  <strong>MODEL - AMAR GHALY</strong><br>
  <strong>MODEL - ARIADNA CONTRERAS</strong><br>

</div>{% endcomment %}

<div class="normal-frame text-centered">

  <a class="big-button" href="http://www.allineyewear.com/" style="margin-bottom: 10px;">
    <span>home</span>
  </a>

  <a class="big-button" href="http://www.allineyewear.com/collections/">
    <span>shop</span>
  </a>
  
</div>

<script>
$(document).ready(function() 
{

  $("#menu-to-stick").sticky({topSpacing:0});

});
</script>