<div class="full">
<div class="container" id="footer-holder">
<div class="row" id="footer">
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <p class="float-left">
        Contact<br><br>
        1888@allin.supply
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <p class="float-right">
        <a href="http://allin-xxx.tumblr.com/" target="_blank">Tumblr</a><br>
        <a href="https://www.facebook.com/allin.supply/?ref=br_rs" target="_blank">Facebook</a><br>
        <a href="https://www.instagram.com/allin.supply/?hl=en" target="_blank">Instagram</a>
      </p>
    </div>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">

  </div>
</div>
</div>
</div>
