<div class="row middle-xs center-xs lookbook">
  <div class="col-xs-12 col-sm-6">
    <img src="{{ 'lookbook.jpg' | asset_url }}"
         alt="lookbook"
         itemprop="logo">
    <a href="#" class="link1">+</a>
    <a href="#" class="link2">+</a>
    <a href="#" class="link3">+</a>
  </div>
</div>
