<div class="row middle-xs center-xs lookbook">
{% assign images = "1.JPG, 2.JPG, 3.JPG, 4.JPG, 5.JPG, 6.JPG, 7.JPG, 8.JPG, 9.JPG, 10.JPG, 11.JPG, 12.JPG, 13.JPG, 14.JPG, 15.JPG, 16.JPG, 17.JPG, 18.JPG, 19.JPG, 20.JPG, 21.JPG, 22.JPG, 23.JPG, 24.JPG" | split: ", " %}
{% for image in images %}
  <div class="col-xs-12 col-sm-7 lookbook-img-contain">
    <img src="{{ image | asset_url }}"
         alt="lookbook"
         itemprop="logo" />
    <a href="#" class="link1">+</a>
    <a href="#" class="link2">+</a>
    <a href="#" class="link3">+</a>
  </div>
{% endfor %}
</div>
